<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestMenuPermanentSurTabbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CB2FF571E2E3F0B00C6B22B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB2FF6D1E2E3F0C00C6B22B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CB2FF781E2E3F0C00C6B22B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
