<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>932471252662-h162kb85q8abcfus5o746e5ajjp864hd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932471252662-h162kb85q8abcfus5o746e5ajjp864hd</string>
	<key>API_KEY</key>
	<string>AIzaSyCxEP2A5bDinn71svhn6eiUE3QOAlkq2bM</string>
	<key>GCM_SENDER_ID</key>
	<string>932471252662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.formation.RestoFinder</string>
	<key>PROJECT_ID</key>
	<string>restosformation-6e2c0</string>
	<key>STORAGE_BUCKET</key>
	<string>restosformation-6e2c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:932471252662:ios:7b4e1bb43affa8d8</string>
	<key>DATABASE_URL</key>
	<string>https://restosformation-6e2c0.firebaseio.com</string>
</dict>
</plist>
